<div class="bg-white dark:bg-[#1f2937] p-7 m-7 rounded-md">
  <h4 class="text-gray-700 pb-7 text-2xl font-bold dark:text-white">
    Create Cost Center
  </h4>

  <form
    [formGroup]="costCenterForm"
    (ngSubmit)="onSubmit()"
    class="grid grid-cols-[repeat(auto-fit,_minmax(min(100%,_300px),_1fr))] gap-4"
  >
    <cust-form-field
      [control]="costCenterForm.controls.code"
      inputId="code"
      label="Code"
    />

    <cust-form-field
      [control]="costCenterForm.controls.name"
      inputId="name"
      label="Name"
    />

    <cust-select
      inputId="ac_type"
      label="Cost Center Type"
      [options]="[
        { key: true, value: 'primary' },
        { key: false, value: 'option2' }
      ]"
      [control]="costCenterForm.controls.isPrimary"
    />

    <div>
      <label
        for="pr_ac"
        class="cust-input-label"
        [ngClass]="{
          'cust-label-disable':
            costCenterForm.controls.primaryCostCenter.disabled
        }"
      >
        Primary Cost Center
      </label>

      <div class="relative">
        <input
          id="pr_ac"
          formControlName="primaryCostCenter"
          type="text"
          class="cust-input"
          [ngClass]="{
            'invalid-input': costCenterForm.controls.primaryCostCenter.invalid && (costCenterForm.controls.primaryCostCenter.dirty || costCenterForm.controls.primaryCostCenter.touched),
          }"
          [matAutocomplete]="autoAccount"
          matInput
        />
        <mat-autocomplete #autoAccount="matAutocomplete" class="">
          @for (option of results ; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-autocomplete>
        <app-validation-message
          [control]="costCenterForm.controls.primaryCostCenter"
          [customMessage]="null"
          name="primary center"
        />
      </div>
    </div>

    <cust-form-field
      [control]="costCenterForm.controls.note"
      inputId="note"
      label="Note"
      class="focus:ring-4 focus:ring-primary"
    />

    <div class="col-span-full grid grid-cols-4">
      <button type="submit" class="btn focus:ring-1 focus:ring-primary">Add</button>
    </div>
  </form>
  <div>
    {{ costCenterForm.value | json }}
  </div>
</div>
