<cust-card title="Add Payment Voucher">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="cust-grid">
    <div>
      <label
        for="account"
        class="cust-input-label"
        [ngClass]="{
          'cust-label-disable': form.controls.account.disabled
        }"
        >Account
      </label>
      <input
        formControlName="account"
        class="cust-input mt-1 min-w-[100px]"
        matInput
        [matAutocomplete]="auto"
      />

      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option.title"
        >
          {{ option.title }}
        </mat-option>
      </mat-autocomplete>
      <app-validation-message
        [control]="form.controls.account"
        [customMessage]="null"
        name="account"
      />
    </div>
    <cust-form-field
      [control]="form.controls.date"
      inputId="Date"
      label="Date"
      type="date"
    />

    <cust-select
      [control]="form.controls.currency"
      [options]="toOption()"
      inputId="Currency"
      label="Currency"
    />

    <cust-form-field
      [control]="form.controls.equality"
      inputId="equality"
      label="equality"
      type="number"
    />

    <cust-form-field
      [control]="form.controls.notes"
      inputId="Notes"
      label="Notes"
    />
    <div
      class="flex justify-between col-span-full bg-gray-100 dark:bg-gray-700 p-2 text-sm text-gray-700 font-medium border"
    >
      <span class="dark:text-white">Previous balance</span>
      <span class="text-blue-600 font-bold">10,900.00</span>
    </div>
    <div class="col-span-full overflow-auto">
      
    <app-custom-table
      [tableFormArray]="rows"
      [columns]="columns"
      (rowRemoved)="onRowRemoved($event)"
    ></app-custom-table>
      <div
        class="flex justify-center p-2 border border-t-0 border-gray-600 min-w-full sticky bottom-0 left-0"
      >
        <button
          type="button"
          class="w-fit cursor-pointer size-8 border dark:bg-white border-black rounded-full shadow-sm shadow-black/40 p-2 flex text-white"
          (click)="addRow()"
        >
          <img src="assets/icons/add.png" alt="add" />
        </button>
      </div>
    </div>

    <!-- <div>
      <label>Sum</label>
      <div class="flex gap-1">
        <input
          type="number"
          readonly
          class="cust-input bg-green-200"
          [(ngModel)]="sum"
          [ngModelOptions]="{ standalone: true }"
        />
        <input
          type="number"
          readonly
          class="cust-input bg-green-200"
          [(ngModel)]="sum"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
    <div>
      <label>minus</label>
      <div class="flex gap-1">
        <input
          type="number"
          readonly
          class="cust-input bg-green-200"
          [(ngModel)]="minus"
          [ngModelOptions]="{ standalone: true }"
        />
        <input
          type="number"
          readonly
          class="cust-input bg-green-200"
          [(ngModel)]="minus"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div> -->

    <div class="col-span-full grid grid-cols-4">
      <button type="submit" class="btn" [disabled]="!form.valid">Add</button>
    </div>
  </form>
  <div>
    {{ form.value | json }}
  </div>
</cust-card>
