<cust-card title="Currencies" [titlePadding]="false">
  <div class="flex justify-end">
    <button
      type="button"
      class="py-1.5 px-2.5 mb-3 btn"
      routerLink="/add-currency"
    >
      Add Currency
    </button>
  </div>
  <div
    class="rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-700"
  >
    <table
      class="table-auto w-full text-sm font-medium text-start whitespace-nowrap"
    >
      <thead
        class="bg-gray-200 dark:bg-gray-700 text-gray-500 dark:text-neutral-400 uppercase"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Code</th>
          <th scope="col" class="px-6 py-3">Name</th>
          <th scope="col" class="px-6 py-3">Balance</th>
          <th scope="col" class="px-6 py-3">Eq</th>
          <th scope="col" class="px-6 py-3">part</th>
          <th scope="col" class="px-6 py-3">value</th>
          <th scope="col" class="px-6 py-3">Action</th>
        </tr>
      </thead>
      <tbody class="divide-y-2 divide-gray-200 dark:divide-neutral-700">
        <!-- @for (item of [0,0,0,0,0]; track $index) { -->
        <tr class="hover:bg-neutral-100 dark:hover:bg-neutral-700">
          <td class="px-6 py-4">ل.س</td>
          <td class="px-6 py-4">ليرة سورية</td>
          <td class="px-6 py-4">1</td>
          <td class="px-6 py-4">1</td>
          <td class="px-6 py-4">قرش</td>
          <td class="px-6 py-4">100</td>
          <td class="px-6 py-4">
            <button
              class="cursor-pointer me-2"
              title="edit"
              type="button"
              (click)="updateCurrency()"
            >
              <img src="assets/icons/edit.png" alt="edit" width="23px" />
            </button>

            <button
              class="cursor-pointer"
              title="edit"
              type="button"
              onclick="alert('delete')"
            >
              <svg
                class="fill-red-500"
                height="24"
                viewBox="0 0 24 24"
                width="24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m21.0697 5.23c-1.61-.16-3.22-.28-4.84-.37v-.01l-.22-1.3c-.15-.92-.37-2.3-2.71-2.3h-2.62c-2.33003 0-2.55003 1.32-2.71003 2.29l-.21 1.28c-.93.06-1.86.12-2.79.21l-2.04.2c-.42.04-.72.41-.68.82s.4.71.82.67l2.04-.2c5.24003-.52 10.52003-.32 15.82003.21h.08c.38 0 .71-.29.75-.68.03-.41-.27-.78-.69-.82z"
                />
                <path
                  d="m19.2297 8.14c-.24-.25-.57-.39-.91-.39h-12.63995c-.34 0-.68.14-.91.39s-.36.59-.34.94l.62 10.26c.11 1.52.25 3.42 3.74 3.42h6.41995c3.49 0 3.6301-1.89 3.74-3.42l.62-10.25c.02-.36-.11-.7-.34-.95zm-5.57 9.61h-3.33c-.40995 0-.74995-.34-.74995-.75s.34-.75.74995-.75h3.33c.41 0 .75.34.75.75s-.34.75-.75.75zm.84-4h-4.99995c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h4.99995c.41 0 .75.34.75.75s-.34.75-.75.75z"
                />
              </svg>
            </button>
          </td>
        </tr>
        <tr class="hover:bg-neutral-100 dark:hover:bg-neutral-700">
          <td class="px-6 py-4">$</td>
          <td class="px-6 py-4">دولار</td>
          <td class="px-6 py-4">10000</td>
          <td class="px-6 py-4">0.0001</td>
          <td class="px-6 py-4">سنت</td>
          <td class="px-6 py-4">100</td>
          <td class="px-6 py-4">
            <button
              class="cursor-pointer me-2"
              title="edit"
              type="button"
              (click)="updateCurrency()"
            >
              <img src="assets/icons/edit.png" alt="edit" width="23px" />
            </button>

            <button
              class="cursor-pointer"
              title="edit"
              type="button"
              onclick="alert('delete')"
            >
              <svg
                class="fill-red-500"
                height="24"
                viewBox="0 0 24 24"
                width="24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m21.0697 5.23c-1.61-.16-3.22-.28-4.84-.37v-.01l-.22-1.3c-.15-.92-.37-2.3-2.71-2.3h-2.62c-2.33003 0-2.55003 1.32-2.71003 2.29l-.21 1.28c-.93.06-1.86.12-2.79.21l-2.04.2c-.42.04-.72.41-.68.82s.4.71.82.67l2.04-.2c5.24003-.52 10.52003-.32 15.82003.21h.08c.38 0 .71-.29.75-.68.03-.41-.27-.78-.69-.82z"
                />
                <path
                  d="m19.2297 8.14c-.24-.25-.57-.39-.91-.39h-12.63995c-.34 0-.68.14-.91.39s-.36.59-.34.94l.62 10.26c.11 1.52.25 3.42 3.74 3.42h6.41995c3.49 0 3.6301-1.89 3.74-3.42l.62-10.25c.02-.36-.11-.7-.34-.95zm-5.57 9.61h-3.33c-.40995 0-.74995-.34-.74995-.75s.34-.75.74995-.75h3.33c.41 0 .75.34.75.75s-.34.75-.75.75zm.84-4h-4.99995c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h4.99995c.41 0 .75.34.75.75s-.34.75-.75.75z"
                />
              </svg>
            </button>
          </td>
        </tr>
        <!-- } -->
      </tbody>
    </table>
  </div>
</cust-card>
