<cust-card titleText="Product" [titlePadding]="false">
<cust-card titleText="Product" [titlePadding]="false">
  <div class="flex justify-end items-center">
    <button type="button" class="mb-3 btn" routerLink="/add-product">
      Add Product
    </button>
  </div>

  <div class="overflow-auto max-h-96 relative">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th *ngFor="let col of displayColumns">
            {{ col }}
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @if (products().length == 0) {
        <tr>
          <td [attr.colspan]="displayColumns.length + 2">No Data Found</td>
        </tr>
        }
        <tr *ngFor="let row of products(); let i = index">
          <td>
            {{ i + 1 }}
          </td>

          <td>{{ row.code }}</td>
          <td>{{ row.name }}</td>
          <td>{{ row.quantity }}</td>
          <td>
            <img
              *ngIf="row.image"
              ngSrc="{{'http://localhost:8080' + row.image }}"
              class="object-contain"
              fill
              alt="{{ row.name }}"
            />
          </td>
          <td>
            <button
              type="button"
              (click)="deleteProduct(row)"
              title="delete row"
              class="text-red-600 hover:text-red-800 cursor-pointer"
            >
              DELETE
            </button>
            <button
              type="button"
              (click)="updateProduct(row)"
              title="edit row"
              class="px-2 text-yellow-600 hover:text-yellow-800 cursor-pointer"
            >
              EDIT
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</cust-card>
