<cust-card title="Accounts">
  <div class="flex flex-wrap-reverse justify-between items-center">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input />
    </mat-form-field>
    <button
      type="button"
      class="py-1.5 px-2.5 mb-3 btn"
      routerLink="/add-account"
    >
      Add Account
    </button>
  </div>

  <div
    class="w-full overflow-auto rounded-md max-h-96 border border-zinc-200 dark:border-zinc-600"
  >
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <ng-container matColumnDef="main_account">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Main Account</th>
        <td mat-cell *matCellDef="let row">{{ row.mainAccount }}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>type</th>
        <td mat-cell *matCellDef="let row">{{ row.type }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let group">
          <button
            class="cursor-pointer me-2"
            title="Edit"
            (click)="editGroup(group)"
          >
            ✏️
          </button>
          <button
            class="cursor-pointer me-2"
            title="View Details"
            (click)="viewDetails(group)"
          >
            👁️
          </button>
          <button
            class="cursor-pointer"
            title="Delete"
            (click)="deleteGroup(group)"
          >
            🗑️
          </button>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
        class="sticky top-0"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- No Data Message -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      class="sticky bottom-0"
      aria-label="Select page of groups"
    ></mat-paginator>
  </div>
</cust-card>
