<cust-card titleText="Add Invoice Type">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="cust-grid">
    <cust-select
      [control]="form.controls.type"
      [options]="invoiceTypes"
      label="Invoice Type"
      inputId="Invoice Type"
    />

    <cust-form-field
      [control]="form.controls.name"
      inputId="name"
      label="Name"
    />

    <cust-select
      [control]="form.controls.defaultPriceId"
      [options]="prices()"
      label="Default Price"
      inputId="Default Price"
    />

    <cust-select
      [control]="form.controls.minDefaultPriceId"
      [options]="prices()"
      label="Default Min Price"
      inputId="Default Min Price"
    />

    <cust-select
      [control]="this.form.controls.defaultWarehouseId"
      [options]="warehouses()"
      inputId="Warehouse"
      label="Warehouse"
    />

    <app-account-search
      [control]="this.form.controls.defaultBillAccId"
      ngDefaultControl
      label="Bill Account"
    />
    <app-account-search
      [control]="this.form.controls.defaultCashAccId"
      ngDefaultControl
      label="Cash Account"
    />
    <app-account-search
      [control]="this.form.controls.defaultDiscAccId"
      ngDefaultControl
      label="Disc Account"
    />
    <app-account-search
      [control]="this.form.controls.defaultExtraAccId"
      ngDefaultControl
      label="Extra Account"
    />

    <!-- <app-account-search
      [control]="this.form.controls.defaultCostAccId"
      label="Cost Account"
    />
    <app-account-search
      [control]="this.form.controls.defaultStockAccId"
      (accountSelected)="onAccountSelected($event)"
      label="Stock Account"
    /> -->

    <cust-select
      [control]="form.controls.defaultCurrencyId"
      [options]="currencies()"
      label="Default Currency"
      inputId="Default Currency"
    />

    <label class="self-center">
      <input
        type="checkbox"
        [formControl]="this.form.controls.isAffectCostPrice"
      />
      Affect Cost Price
    </label>

    <label class="self-center">
      <input
        type="checkbox"
        [formControl]="this.form.controls.isAffectLastPrice"
      />
      Affect Last Price
    </label>

    <label class="self-center">
      <input
        type="checkbox"
        [formControl]="this.form.controls.isAffectCustPrice"
      />
      Affect Customer Price
    </label>

    <!-- <label class="self-center">
      <input
        type="checkbox"
        [formControl]="this.form.controls.isAffectProfit"
      />
      Affect Customer Profit
    </label> -->

    <label class="self-center">
      <input
        type="checkbox"
        [formControl]="this.form.controls.isDiscAffectCost"
      />
      Disc Affect Cost
    </label>

    <label class="self-center">
      <input
        type="checkbox"
        [formControl]="this.form.controls.isExtraAffectCost"
      />
      Extra Affect Cost
    </label>

    <label class="self-center">
      <input type="checkbox" [formControl]="this.form.controls.isNoEntry" />
      No Entry
    </label>

    <label class="self-center">
      <input type="checkbox" [formControl]="this.form.controls.isAutoEntry" />
      Auto Entry
    </label>

    <label class="self-center">
      <input
        type="checkbox"
        [formControl]="this.form.controls.isAutoEntryPost"
      />
      Auto Entry Post
    </label>

    <label class="self-center">
      <input type="checkbox" [formControl]="this.form.controls.isNoPost" />
      No Post
    </label>

    <label class="self-center">
      <input type="checkbox" [formControl]="this.form.controls.isAutoPost" />
      Auto Post
    </label>

    <label class="self-center">
      <input type="checkbox" [formControl]="this.form.controls.isShortEntry" />
      Short Entry
    </label>

    <label class="self-center">
      <input type="checkbox" [formControl]="this.form.controls.isCashBill" />
      Cash Bill
    </label>

    <label class="self-center">
      <input
        type="checkbox"
        [formControl]="this.form.controls.printAfterInsert"
      />
      Print After Insert
    </label>

    <label class="self-center">
      <input type="checkbox" [formControl]="this.form.controls.isBarcode" />
      Is Barcode
    </label>

    <div class="col-span-full grid grid-cols-4">
      <button type="submit" class="btn" [disabled]="!form.valid">Add</button>
    </div>
  </form>
</cust-card>
