<cust-card [titleText]="'prices' | translate" [titlePadding]="false">
  <div class="cust-grid">
    <div class="flex justify-end items-center col-span-full">
      <button
        type="button"
        class="py-1.5 px-2.5 mb-3 btn self-end"
        routerLink="/add-price"
      >
        {{ "add_price" | translate }}
      </button>
    </div>
    <div class="col-span-full overflow-auto">
      <app-custom-table
        [data]="prices$ | async"
        [columns]="displayedColumns"
        (deleteRowEvent)="deletePrice($event)"
        (updateRowEvent)="updatePrice($event)"
      />
    </div>
  </div>
</cust-card>
