<cust-card [titleText]="'warehouseA.title' | translate" [titlePadding]="false">
  <div class="cust-grid">
    <div class="flex justify-end items-center col-span-full">
      <button
        type="button"
        class="py-1.5 px-2.5 mb-3 btn"
        routerLink="/add-warehouse"
      >
        {{ 'warehouseA.add' | translate }}
      </button>
    </div>

    <div
      class="bg-zinc-100 dark:bg-gray-700 w-full rounded-sm p-2 flex space-x-2 col-span-full"
    >
      <button
        title="{{ 'warehouseA.tableView' | translate }}"
        class="cursor-pointer"
        (click)="changeView(false)"
      >
        <svg
          class="dark:fill-white"
          width="20px"
          height="20px"
          viewBox="0 0 52 52"
          data-name="Layer 1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M50,52H2a2,2,0,0,1-2-2V2A2,2,0,0,1,2,0H50a2,2,0,0,1,2,2V50A2,2,0,0,1,50,52ZM4,48H48V4H4Z"
          />
          <path d="M50,13.6H2a2,2,0,0,1,0-4H50a2,2,0,0,1,0,4Z" />
          <path d="M50,23.2H2a2,2,0,0,1,0-4H50a2,2,0,0,1,0,4Z" />
          <path d="M50,32.8H2a2,2,0,1,1,0-4H50a2,2,0,1,1,0,4Z" />
          <path d="M50,42.4H2a2,2,0,0,1,0-4H50a2,2,0,0,1,0,4Z" />
          <path d="M26,52a2,2,0,0,1-2-2V2a2,2,0,0,1,4,0V50A2,2,0,0,1,26,52Z" />
        </svg>
      </button>

      <button
        title="{{ 'warehouseA.treeView' | translate }}"
        class="cursor-pointer"
        (click)="changeView(true)"
      >
        <svg
          class="dark:fill-white"
          width="24px"
          height="24px"
          viewBox="0 0 36 36"
          version="1.1"
          preserveAspectRatio="xMidYMid meet"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <title>tree-view</title>
          <path
            d="M15,32H11a1,1,0,0,1-1-1V27a1,1,0,0,1,1-1h4a1,1,0,0,1,1,1v4A1,1,0,0,1,15,32Zm-3-2h2V28H12Z"
            class="clr-i-outline clr-i-outline-path-1"
          ></path>
          <path
            d="M15,16H11a1,1,0,0,0-1,1v1.2H5.8V12H7a1,1,0,0,0,1-1V7A1,1,0,0,0,7,6H3A1,1,0,0,0,2,7v4a1,1,0,0,0,1,1H4.2V29.8h6.36a.8.8,0,0,0,0-1.6H5.8V19.8H10V21a1,1,0,0,0,1,1h4a1,1,0,0,0,1-1V17A1,1,0,0,0,15,16ZM4,8H6v2H4ZM14,20H12V18h2Z"
            class="clr-i-outline clr-i-outline-path-2"
          ></path>
          <path
            d="M34,9a1,1,0,0,0-1-1H10v2H33A1,1,0,0,0,34,9Z"
            class="clr-i-outline clr-i-outline-path-3"
          ></path>
          <path
            d="M33,18H18v2H33a1,1,0,0,0,0-2Z"
            class="clr-i-outline clr-i-outline-path-4"
          ></path>
          <path
            d="M33,28H18v2H33a1,1,0,0,0,0-2Z"
            class="clr-i-outline clr-i-outline-path-5"
          ></path>
          <rect x="0" y="0" width="36" height="36" fill-opacity="0" />
        </svg>
      </button>
    </div>

    <div class="overflow-auto max-h-80 col-span-full">
      @if (treeView) {
      <app-tree-view [treeData]="treeData" />
      }@else {

      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>{{ 'warehouseA.code' | translate }}</th>
            <th>{{ 'warehouseA.name' | translate }}</th>
            <th>{{ 'warehouseA.type' | translate }}</th>
            <th>{{ 'warehouseA.branch' | translate }}</th>
            <th>{{ 'warehouseA.active' | translate }}</th>
            <th>{{ 'warehouseA.address' | translate }}</th>
            <th>{{ 'warehouseA.notes' | translate }}</th>
            <th>{{ 'common.actions' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          @if ( warehouses().length == 0) {
          <tr>
            <td [attr.colspan]="10">{{ 'noData' | translate }}</td>
          </tr>
          }
          <tr *ngFor="let row of warehouses(); let i = index">
            <td>
              {{ i + 1 }}
            </td>
            <td>{{ row.code }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.type }}</td>
            <td>{{ row.branchName }}</td>
            <td>{{ row.isActive }}</td>
            <td>{{ row.address }}</td>
            <td>{{ row.notes }}</td>
            <td class="text-nowrap">
              <button
                type="button"
                [swal]="['common.delete' | translate, ('warehouseA.deleteConfirm' | translate) + ' ' + row.name]"
                (confirm)="deleteWarehouse(row)"
                title="delete row"
                class="text-red-600 hover:text-red-800 cursor-pointer"
              >
                {{ 'common.delete' | translate }}
              </button>
              <button
                type="button"
                (click)="updateWarehouse(row)"
                title="edit row"
                class="px-2 text-yellow-600 hover:text-yellow-800 cursor-pointer"
              >
                {{ 'common.edit' | translate }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      }
    </div>
  </div>
</cust-card>
