<cust-card [titleText]="'currency.addTitle' | translate">
  <form
    [formGroup]="currencyForm"
    (ngSubmit)="onSubmit()"
    class="cust-grid"
  >
    <cust-form-field
      [control]="currencyForm.controls.code"
      inputId="code"
      [label]="'currency.code' | translate"
    />

    <cust-form-field
      [control]="currencyForm.controls.name"
      inputId="name"
      [label]="'currency.name' | translate"
    />

    <cust-form-field
      [control]="currencyForm.controls.balance"
      inputId="currencyValue"
      [label]="'currency.value' | translate"
      type="number"
    />

        <cust-form-field
      [control]="currencyForm.controls.partName"
      inputId="part"
      [label]="'currency.partName' | translate"
    />

    <cust-form-field
      [control]="currencyForm.controls.partValue"
      inputId="partPrecision"
      [label]="'currency.partPrecision' | translate"
      type="number"
    />

    <div class="col-span-full grid grid-cols-4">
      <button type="submit" class="btn" [disabled]="!currencyForm.valid">
        {{ 'currency.addButton' | translate }}
      </button>
    </div>
  </form>

  <div>
    {{ currencyForm.value | json }}
  </div>
</cust-card>
