<cust-card [titleText]="'journal.addTitleJo' | translate">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="cust-grid">
    <cust-form-field
      [control]="form.controls.name"
      inputId="name"
      [label]="'journal.name' | translate"
      [required]="true"
    />

    <div>
      <label
        for="defAccount"
        class="cust-input-label"
        [ngClass]="{
          'cust-label-disable': form.controls.defaultAccountId.disabled
        }"
        >{{ 'journal.defaultAccount' | translate }}
      </label>
      <ng-select
        id="defAccount"
        [items]="accounts$ | async"
        bindLabel="name"
        bindValue="id"
        [searchFn]="searchFn"
        [formControl]="formControls.defaultAccountId"
        class="cust-input"
      >
        <ng-template
          ng-option-tmp
          let-item="item"
          let-index="index"
          let-search="searchTerm"
        >
          <div>{{ item.name + "-" + item.code }}</div>
        </ng-template>
      </ng-select>
      <app-validation-message
        [control]="form.controls.defaultAccountId"
        name="Default Account"
      />
    </div>

    <div>
      <label
        for="defCurrency"
        class="cust-input-label"
        [ngClass]="{
          'cust-label-disable': form.controls.defaultCurrencyId.disabled
        }"
        >{{ 'journal.defaultCurrency' | translate }}
      </label>
      <ng-select
        id="defCurrency"
        [items]="currencies$ | async"
        bindLabel="name"
        bindValue="id"
        [searchFn]="searchFn"
        [formControl]="formControls.defaultCurrencyId"
        class="cust-input"
      >
        <ng-template
          ng-option-tmp
          let-item="item"
          let-index="index"
          let-search="searchTerm"
        >
          <div>{{ item.name + "-" + item.code }}</div>
        </ng-template>
      </ng-select>
      <app-validation-message
        [control]="form.controls.defaultCurrencyId"
        name="Default Currency"
      />
    </div>

    <cust-form-field
      [control]="form.controls.creditName"
      inputId="Credit Name"
      [label]="'journal.creditName' | translate"
      [required]="true"
    />

    <cust-form-field
      [control]="form.controls.debitName"
      inputId="Debit Name"
      [label]="'journal.debitName' | translate"
      [required]="true"
    />

    <label class="self-center">
      <input type="checkbox" [formControl]="formControls.fieldCredit" />
      {{ 'journal.fieldCredit' | translate }}
    </label>
    <label>
      <input type="checkbox" [formControl]="formControls.fieldDebit" />
      {{ 'journal.fieldDebit' | translate }}
    </label>
    <label>
      <input type="checkbox" [formControl]="formControls.fieldDate" />
      {{ 'journal.fieldDate' | translate }}
    </label>
    <label>
      <input type="checkbox" [formControl]="formControls.fieldNotes" />
      {{ 'journal.fieldNotes' | translate }}
    </label>
    <label>
      <input type="checkbox" [formControl]="formControls.fieldCurrencyName" />
      {{ 'journal.fieldCurrencyName' | translate }}
    </label>
    <label>
      <input
        type="checkbox"
        [formControl]="formControls.fieldCurrencyEquilty"
      />
      {{ 'journal.fieldCurrencyEquilty' | translate }}
    </label>
    <label>
      <input type="checkbox" [formControl]="formControls.autoPost" />
      {{ 'journal.autoPost' | translate }}
    </label>

    <div class="col-span-full grid grid-cols-4">
      <button type="submit" class="btn" [disabled]="!form.valid">{{ 'journal.addButton' | translate }}</button>
    </div>
  </form>
</cust-card>
