<cust-card titleText="Units">
  <div class="flex justify-end items-center">
    <button type="button" class="py-1.5 px-2.5 mb-3 btn self-end" routerLink="/add-unit">
      Add Unit
    </button>
  </div>

  <div class="overflow-auto max-h-80 relative">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th *ngFor="let col of displayedColumns">
            {{ col }}
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @if ( units().length == 0) {
        <tr>
          <td [attr.colspan]="displayedColumns.length + 2">No Data Found</td>
        </tr>
        } @for (item of units(); track $index) {
          <tr>
            <td>
              {{ $index + 1 }}
            </td>
            <td class="text-nowrap">{{ item.name }}</td>
            <!-- <td>{{ item.unitItems.length }}</td> -->
            <td class="text-nowrap">
              <button
                type="button"
                (click)="deleteUnit(item)"
                title="delete row"
                class="text-red-600 hover:text-red-800 cursor-pointer"
              >
                DELETE
              </button>
              <button
                type="button"
                (click)="updateUnit(item)"
                title="edit row"
                class="px-2 text-yellow-600 hover:text-yellow-800 cursor-pointer"
              >
                EDIT
              </button>
            </td>
          </tr>

        <!-- <tr *ngFor="let row of item.unitItems; let i = index">
          <td>
            {{ $index + i + 1 }}
          </td>
          <td class="text-nowrap">{{ row.unitName }}</td>
          <td>{{ row.name }}</td>
          <td>{{ row.fact }}</td>
          <td>{{ row.isDef }}</td>
          <td class="text-nowrap">
            <button
              type="button"
              (click)="deleteUnit(item)"
              title="delete row"
              class="text-red-600 hover:text-red-800 cursor-pointer"
            >
              DELETE
            </button>
            <button
              type="button"
              (click)="updateUnit(item)"
              title="edit row"
              class="px-2 text-yellow-600 hover:text-yellow-800 cursor-pointer"
            >
              EDIT
            </button>
          </td>
        </tr> -->
        }
      </tbody>
    </table>
  </div>
</cust-card>
