<cust-card [titleText]="'user.update_title' | translate">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="cust-grid">
    <cust-form-field [control]="form.controls.firstName" inputId="firstname"
      [label]="'user.form.first_name' | translate" />

    <cust-form-field [control]="form.controls.lastName" inputId="lastname"
      [label]="'user.form.last_name' | translate" />

    <cust-form-field [control]="form.controls.username" inputId="username" [label]="'user.form.username' | translate" />

    <cust-form-field [control]="form.controls.password" inputId="password" [label]="'user.form.password' | translate"
      type="password" />

    <cust-select [control]="form.controls.warehouseId" [options]="warehouses()" inputId="branch" label="branch" />

    <cust-select [control]="form.controls.role" [options]="[
    { key: 'USER', value: ('user.roles.USER' | translate) },
    { key: 'ADMIN', value: ('user.roles.ADMIN' | translate) },
    { key: 'MANAGER', value: ('user.roles.MANAGER' | translate) },
    { key: 'PURCHASE_MANAGER', value: ('user.roles.PURCHASE_MANAGER' | translate) }
  ]" inputId="role" [label]="'user.form.role' | translate" />

    <div class="col-span-full grid grid-cols-4">
      <button type="submit" class="btn" [disabled]="!form.valid">{{ 'user.form.submit_update' | translate }}</button>
    </div>
  </form>
</cust-card>