<cust-card
  [titleText]="'journal.addTitle' | translate : { name: journalType.name }"
>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="cust-grid">
    <cust-select
      [control]="form.controls.branchId"
      [options]="warehouses"
      inputId="branchId"
      [label]="'journal.branch' | translate"
    />

    <cust-form-field
      [control]="form.controls.date"
      inputId="Date"
      [label]="'journal.date' | translate"
      type="datetime-local"
    />

    <!-- <cust-form-field
      [control]="form.controls.postDate"
      *ngIf="!journalType?.autoPost"
      inputId="Post Date"
      label="Post Date"
      type="date"
    /> -->

    <div *ngIf="journalType?.defaultAccountId">
      <label
        for="account"
        class="cust-input-label"
        [ngClass]="{
          'cust-label-disable': form.controls.account.disabled
        }"
        >{{ "journal.account" | translate }}
      </label>
      <ng-select
        id="Account"
        [items]="searchAccounts$ | async"
        bindLabel="name"
        bindValue="id"
        [searchFn]="searchFn"
        [compareWith]="compareFn"
        [formControl]="form.controls.account"
        class="border border-gray-300 bg-gray-50 p-2.5 h-10"
      >
        <ng-template ng-option-tmp let-item="item">
          <div>{{ item.name + "-" + item.code }}</div>
        </ng-template>
      </ng-select>
      <app-validation-message
        [control]="form.controls.account"
        name="Account"
      />
    </div>

    <cust-select
      [control]="form.controls.currencyId"
      [options]="currencyOptions"
      inputId="Currency"
      label="Currency"
    />

    <cust-form-field
      [control]="form.controls.currencyValue"
      inputId="value"
      label="value"
      type="number"
    />

    <!-- <cust-form-field
      [control]="form.controls.notes"
      inputId="Notes"
      label="Notes"
    /> -->

    <div *ngIf="!journalType?.autoPost" class="self-end">
      <label class="relative inline-flex items-center cursor-pointer">
        <span class="ml-3 text-gray-700">{{
          "journal.isPosted" | translate
        }}</span>
        <input
          type="checkbox"
          class="sr-only peer"
          [formControl]="form.controls.isPosted"
        />
        <div
          class="w-11 h-6 bg-gray-200 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-blue-600"
        ></div>
      </label>
    </div>

    <div class="scroll col-span-full w-full">
      <div class="overflow-y-auto">
        <table formArrayName="journalItems" class="add-table">
          <thead>
            <tr>
              <th>#</th>
              <th>{{ "journal.account" | translate }}</th>
              <th *ngIf="journalType?.fieldNotes">
                {{ "journal.notes" | translate }}
              </th>
              <th *ngIf="journalType?.fieldDebit">
                {{
                  journalType.debitName.length == 0
                    ? ("journal.debit" | translate)
                    : journalType.debitName
                }}
              </th>
              <th *ngIf="journalType?.fieldCredit">
                {{
                  journalType.creditName.length == 0
                    ? ("journal.credit" | translate)
                    : journalType.creditName
                }}
              </th>
              <th *ngIf="journalType?.fieldCurrencyName">
                {{ "journal.currency" | translate }}
              </th>
              <th *ngIf="journalType?.fieldCurrencyEquilty">
                {{ "journal.currencyValue" | translate }}
              </th>
              <th *ngIf="journalType?.fieldDate">
                {{ "journal.date" | translate }}
              </th>
              <th>{{ "journal.actions" | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let row of journalItems.controls; let i = index"
              [formGroup]="row"
            >
              <td>{{ i + 1 }}</td>
              <td>
                <ng-select
                  id="Account"
                  [items]="searchAccounts$ | async"
                  bindLabel="name"
                  bindValue="id"
                  appendTo=".scroll"
                  [searchFn]="searchFn"
                  formControlName="accountId"
                  class="min-w-32 border border-gray-300 bg-gray-50"
                >
                  <ng-template ng-option-tmp let-item="item">
                    <div>{{ item.name + "-" + item.code }}</div>
                  </ng-template>
                </ng-select>
                <app-validation-message
                  [control]="row.get('accountId')!"
                  [customMessage]="null"
                  name="Primary Account"
                />
              </td>
              <td *ngIf="journalType?.fieldNotes">
                <input formControlName="notes" class="cust-input" />
                <app-validation-message
                  [control]="row.get('notes')!"
                  name="notes"
                />
              </td>
              <td *ngIf="journalType?.fieldDebit">
                <input
                  formControlName="debit"
                  type="number"
                  class="cust-input"
                />
                <app-validation-message
                  [control]="row.get('debit')!"
                  [customMessage]="null"
                  name="debit"
                />
              </td>
              <td *ngIf="journalType?.fieldCredit">
                <input
                  formControlName="credit"
                  type="number"
                  class="cust-input"
                />
                <app-validation-message
                  [control]="row.get('credit')!"
                  [customMessage]="null"
                  name="credit"
                />
              </td>

              <td *ngIf="journalType?.fieldCurrencyName">
                <cust-select
                  [control]="row.get('currencyId')!"
                  [options]="currencyOptionsWithNull"
                  inputId="Currency"
                  label="Currency"
                  [showLabel]="false"
                  class="min-w-[100px]"
                />
              </td>

              <td *ngIf="journalType?.fieldCurrencyEquilty">
                <input
                  formControlName="currencyValue"
                  type="number"
                  class="cust-input"
                />
                <app-validation-message
                  [control]="row.get('currencyValue')!"
                  [customMessage]="null"
                  name="currency Value"
                />
              </td>
              <td *ngIf="journalType.fieldDate">
                <input
                  formControlName="date"
                  type="datetime-local"
                  class="cust-input"
                />
              </td>
              <td>
                <button
                  class="cursor-pointer"
                  title="edit"
                  type="button"
                  (click)="removeRow(i)"
                >
                  <svg
                    class="fill-red-500"
                    height="28"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="m21.0697 5.23c-1.61-.16-3.22-.28-4.84-.37v-.01l-.22-1.3c-.15-.92-.37-2.3-2.71-2.3h-2.62c-2.33003 0-2.55003 1.32-2.71003 2.29l-.21 1.28c-.93.06-1.86.12-2.79.21l-2.04.2c-.42.04-.72.41-.68.82s.4.71.82.67l2.04-.2c5.24003-.52 10.52003-.32 15.82003.21h.08c.38 0 .71-.29.75-.68.03-.41-.27-.78-.69-.82z"
                    />
                    <path
                      d="m19.2297 8.14c-.24-.25-.57-.39-.91-.39h-12.63995c-.34 0-.68.14-.91.39s-.36.59-.34.94l.62 10.26c.11 1.52.25 3.42 3.74 3.42h6.41995c3.49 0 3.6301-1.89 3.74-3.42l.62-10.25c.02-.36-.11-.7-.34-.95zm-5.57 9.61h-3.33c-.40995 0-.74995-.34-.74995-.75s.34-.75.74995-.75h3.33c.41 0 .75.34.75.75s-.34.75-.75.75zm.84-4h-4.99995c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h4.99995c.41 0 .75.34.75.75s-.34.75-.75.75z"
                    />
                  </svg>
                </button>
              </td>
            </tr>
            <tr>
              <td [attr.colspan]="9" class="text-center w-full">
                <button
                  type="button"
                  class="w-fit self-center mx-auto my-1 cursor-pointer size-8 border dark:bg-white border-black rounded-full shadow-sm shadow-black/40 p-2 flex text-white"
                  (click)="addRow()"
                >
                  <img
                    src="assets/icons/add.png"
                    alt="{{ 'journal.addRow' | translate }}"
                  />
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <app-validation-message
          *ngIf="journalItems.errors"
          [control]="this.journalItems"
          [customMessage]="null"
          name="journal Items"
          class="col-span-full flex justify-start"
        />
      </div>
    </div>

    <div class="col-span-full mt-4">
      <p>{{ "journal.totalDebit" | translate }}: {{ sumDebit }}</p>
      <p>{{ "journal.totalCredit" | translate }}: {{ sumCredit }}</p>
      <p>{{ "journal.difference" | translate }}: {{ minus }}</p>
    </div>

    <div class="col-span-full grid grid-cols-4">
      <button type="submit" class="btn" [disabled]="!form.valid">
        {{ "journal.addButton" | translate }}
      </button>
    </div>
  </form>
</cust-card>
