<cust-card [titleText]="'print_product_barcodes' | translate">
  <form [formGroup]="form" class="space-y-4 mt-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <app-search-product
        [control]="form.controls['productId']"
        [label]="'select_product' | translate"
        (productSelected)="onProductSelected($event)"
      />

      <cust-select
        *ngIf="barcodes.length > 0"
        [label]="'select_barcode' | translate"
        [control]="form.controls['barcode']"
        [options]="barcodes"
      />

      <cust-form-field
        [label]="'copy_count' | translate"
        inputId="copyCount"
        [control]="form.controls['copies']"
      />

      <div class="self-end">
        <button
          type="button"
          class="btn btn-primary"
          (click)="addBarcodeToList()"
        >
          {{ 'add_to_print' | translate }}
        </button>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-2">
      <label
        ><input type="checkbox" formControlName="showCompany" /> {{ 'show_company_name' | translate }}</label
      >
      <label
        ><input type="checkbox" formControlName="showProduct" /> {{ 'show_product_name' | translate }}</label
      >
      <label
        ><input type="checkbox" formControlName="showPrice" /> {{ 'show_price' | translate }}</label
      >
    </div>

    <cust-select
      [label]="'paper_size' | translate"
      inputId="paperSize"
      [control]="form.controls['paperSize']"
      [options]="paperSizes"
    />

    <div class="overflow-x-auto mt-4">
      <table class="min-w-full text-sm text-left border mt-6">
        <thead class="bg-gray-200 font-bold">
          <tr>
            <th class="p-2 border">{{ 'product' | translate }}</th>
            <th class="p-2 border">{{ 'barcode' | translate }}</th>
            <th class="p-2 border">{{ 'copy_count' | translate }}</th>
            <th class="p-2 border">{{ 'preview' | translate }}</th>
            <th class="p-2 border">{{ 'action' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of selectedBarcodes; let i = index">
            <td class="p-2 border">{{ item.productName }}</td>
            <td class="p-2 border">{{ item.barcode }}</td>
            <td class="p-2 border">{{ item.copies }}</td>
            <td class="p-2 border">
              <ngx-barcode6
                [bc-value]="item.barcode"
                [bc-display-value]="true"
              />
            </td>
            <td class="p-2 border">
              <button class="text-red-600" (click)="removeSelectedBarcode(i)">
                {{ 'delete' | translate }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="flex gap-4 justify-end mt-6">
      <button type="button" class="btn btn-green" (click)="print()">
        {{ 'print' | translate }}
      </button>
      <button type="button" class="btn btn-gray" (click)="reset()">
        {{ 'reset' | translate }}
      </button>
      <button type="button" class="btn btn-blue" (click)="preview()">
        {{ 'preview' | translate }}
      </button>
    </div>
  </form>
  <div class="overflow-x-auto mt-4" *ngIf="selectedProducts().length > 0">
  </div>

  <div id="print-section" class="hidden-print">
    <ng-container *ngFor="let item of selectedBarcodes">
      <ng-container *ngFor="let i of [].constructor(item.copies)">
        <div class="barcode-item">
          <ngx-barcode6
            [bc-value]="item.barcode"
            [bc-display-value]="form.value.showProduct"
          />

          <div class="barcode-label" *ngIf="form.value.showCompany">
            {{ 'company_name' | translate }}
          </div>
          <div class="barcode-label" *ngIf="form.value.showProduct">
            {{ item.productName }}
          </div>
          <div class="barcode-label" *ngIf="form.value.showPrice">
            {{ item.price | currency : "SAR" : "symbol-narrow" }}
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</cust-card>
