<cust-card titleText="Inventory Count">
  <form [formGroup]="form" (submit)="onSubmit()" class="cust-grid mb-4">
    @if(isAdmin){
    <cust-select
      [control]="form.controls.warehouseId"
      [options]="warehouses()"
      label="Warehouse"
    />
    }
    <app-search-product [control]="form.controls.productId" label="Product" />

    <cust-select
      [control]="form.controls.groupId"
      [options]="groups()"
      [canBeNull]="true"
      label="Group"
    />
    <div class="self-end">
      <button class="btn">Preview</button>
    </div>
  </form>
  <form [formGroup]="quantityForm" class="col-span-full cust-grid">
    <div class="overflow-auto max-h-80 relative add-table w-full col-span-full">
      <table formArrayName="quantityCounted">
        <thead>
          <tr>
            <th>#</th>
            <th>Product</th>
            <th>Current Quantity</th>
            <th>Quantity counted</th>
            <th>Difference</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="inventoryItems.length === 0">
            <td [attr.colspan]="7" class="text-center">
              you don't have product
            </td>
          </tr>

          <tr *ngFor="let item of inventoryItems; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.productName }}</td>
            <td>{{ item.currentQuantity }}</td>
            <td>
              <input [formControlName]="i" class="cust-input" type="number" />
            </td>
            <td>{{ item.currentQuantity - quantityCounted.at(i).value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</cust-card>
