<cust-card [titleText]="'inventoryCount.title' | translate">
  <form [formGroup]="form" (submit)="onSubmit()" class="cust-grid mb-4">
    @if(isAdmin){
    <cust-select
      [control]="form.controls.warehouseId"
      [options]="warehouses()"
      [label]="'inventoryCount.warehouse' | translate"
    />
    }
    <app-search-product [control]="form.controls.productId" [label]="'inventoryCount.product' | translate" />

    <cust-select
      [control]="form.controls.groupId"
      [options]="groups()"
      [canBeNull]="true"
      [label]="'inventoryCount.group' | translate"
    />
    <div class="self-end flex items-center gap-x-1">
      <button type="submit" class="btn">{{ 'inventoryCount.preview' | translate }}</button>
      @if(inventoryItems()?.items?.length){

      <button type="button" class="btn">{{ 'inventoryCount.settlement' | translate }}</button>
      }
    </div>
  </form>
  <form [formGroup]="quantityForm" class="col-span-full cust-grid">
    <div class="overflow-auto max-h-80 relative add-table w-full col-span-full">
      <p class="mb-1">{{ 'inventoryCount.warehouse' | translate }}: {{inventoryItems()?.warehouseName}}</p>
      <table formArrayName="quantityCounted">
        <thead>
          <tr>
            <th>#</th>
            <th>{{ 'inventoryCount.product' | translate }}</th>
            <th>{{ 'inventoryCount.unitName' | translate }}</th>
            <th>{{ 'inventoryCount.currentQuantity' | translate }}</th>
            <th>{{ 'inventoryCount.countedQuantity' | translate }}</th>
            <th>{{ 'inventoryCount.difference' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="inventoryItems()?.items?.length == 0">
            <td [attr.colspan]="7" class="text-center">
              {{ 'inventoryCount.noProducts' | translate }}
            </td>
          </tr>

          <tr *ngFor="let item of inventoryItems()?.items; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.productName }}</td>
            <td>{{ item.unitName }}</td>
            <td>{{ item.quantity }}</td>
            <td>
              <input [formControlName]="i" class="cust-input" type="number" />
            </td>
            <td>{{ item.quantity - quantityCounted.at(i).value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</cust-card>
