<cust-card title="Add Journal">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="cust-grid">
    <cust-form-field
      [control]="form.controls['date']"
      inputId="date"
      label="Date"
      type="date"
    />

    <cust-select
      [control]="form.controls['branchId']"
      [options]="branchOptions"
      inputId="branchId"
      label="Branch"
    />

    <cust-select
      [control]="form.controls['currencyId']"
      [options]="toOption()"
      inputId="currencyId"
      label="Currency"
    />

    <cust-form-field
      [control]="form.controls['currencyValue']"
      inputId="currencyValue"
      label="Currency Value"
      type="number"
      [readOnly]="true"
    />

    <div class="scroll col-span-full w-full">
      <div class="overflow-y-auto">
        <table formArrayName="items" class="add-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Account</th>
              <th>Debit</th>
              <th>Credit</th>
              <th>Currency</th>
              <th>Value</th>
              <th>Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of items.controls; let i = index" [formGroup]="row">
              <td>{{ i + 1 }}</td>

              <td>
                <ng-select
                  [items]="searchAccounts$ | async"
                  bindLabel="name"
                  bindValue="id"
                  appendTo=".scroll"
                  [searchFn]="searchFn"
                  formControlName="accountId"
                  class="w-40 border bg-gray-50"
                >
                  <ng-template ng-option-tmp let-item="item">
                    {{ item.name }} - {{ item.code }}
                  </ng-template>
                </ng-select>
                <app-validation-message
                  [control]="row.get('accountId')!"
                  name="Account"
                />
              </td>

              <td><input formControlName="debit" type="number" class="cust-input" /></td>
              <td><input formControlName="credit" type="number" class="cust-input" /></td>

              <td>
                <cust-select
                  [control]="row.get('currencyId')!"
                  [options]="toOption()"
                  inputId="rowCurrency"
                  [showLabel]="false"
                  [label]="'العملة'"
                  class="min-w-[100px]"
                ></cust-select>
              </td>

              <td><input formControlName="currencyValue" type="number" class="cust-input" readonly /></td>
              <td><input formControlName="date" type="date" class="cust-input" /></td>

              <td><button type="button" (click)="removeRow(i)">🗑</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-span-full flex justify-between mt-4">
      <button type="button" (click)="addRow()" class="btn">Add Row</button>
      <button type="submit" [disabled]="form.invalid" class="btn">Submit</button>
    </div>

    <div class="col-span-full mt-4">
      <p>Total Debit: {{ sumDebit }}</p>
      <p>Total Credit: {{ sumCredit }}</p>
      <p>Difference: {{ minus }}</p>
    </div>

    <pre class="col-span-full">{{ response | json }}</pre>
  </form>
</cust-card>
