<cust-card titleText="Add Unit">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="cust-grid">
    <cust-form-field
      [control]="form.controls.unitName"
      inputId="name"
      label="Name"
    />

    <div
      class="col-span-full"
    >
    <!-- <app-custom-table
    [columns]="displayedColumns"
    /> -->

      <!-- <table
        mat-table
        [dataSource]="dataSource"
        formArrayName="units"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
          <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td
            mat-cell
            *matCellDef="let itemGroup; let i = index"
            [formGroupName]="i"
          >
            <input formControlName="name" class="cust-input mt-1" />
            <app-validation-message
              [control]="this.units.at(i).get('name')!"
              [customMessage]="null"
              name="name"
            />
          </td>
        </ng-container>

        <ng-container matColumnDef="fact">
          <th mat-header-cell *matHeaderCellDef>fact</th>
          <td
            mat-cell
            *matCellDef="let itemGroup; let i = index"
            [formGroupName]="i"
          >
            <input
              type="number"
              formControlName="fact"
              class="cust-input mt-1"
              [readOnly]="i === 0"
              [ngClass]="{
                'opacity-50':i===0
              }"
            />
            <app-validation-message
              [control]="this.units.at(i).get('fact')!"
              [customMessage]="null"
              name="fact"
            />
          </td>
        </ng-container>

        <ng-container matColumnDef="isDef">
          <th mat-header-cell *matHeaderCellDef>isDef</th>
          <td
            mat-cell
            *matCellDef="let itemGroup; let i = index"
            [formGroupName]="i"
          >
            <input
              type="checkbox"
              formControlName="isDef"
              (change)="changeIsDef(i)"
            />
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let i = index">
            <button
              class="cursor-pointer"
              title="edit"
              type="button"
              (click)="removeRow(i)"
            >
              <svg
                class="fill-red-500"
                height="28"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="m21.0697 5.23c-1.61-.16-3.22-.28-4.84-.37v-.01l-.22-1.3c-.15-.92-.37-2.3-2.71-2.3h-2.62c-2.33003 0-2.55003 1.32-2.71003 2.29l-.21 1.28c-.93.06-1.86.12-2.79.21l-2.04.2c-.42.04-.72.41-.68.82s.4.71.82.67l2.04-.2c5.24003-.52 10.52003-.32 15.82003.21h.08c.38 0 .71-.29.75-.68.03-.41-.27-.78-.69-.82z"
                />
                <path
                  d="m19.2297 8.14c-.24-.25-.57-.39-.91-.39h-12.63995c-.34 0-.68.14-.91.39s-.36.59-.34.94l.62 10.26c.11 1.52.25 3.42 3.74 3.42h6.41995c3.49 0 3.6301-1.89 3.74-3.42l.62-10.25c.02-.36-.11-.7-.34-.95zm-5.57 9.61h-3.33c-.40995 0-.74995-.34-.74995-.75s.34-.75.74995-.75h3.33c.41 0 .75.34.75.75s-.34.75-.75.75zm.84-4h-4.99995c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h4.99995c.41 0 .75.34.75.75s-.34.75-.75.75z"
                />
              </svg>
            </button>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
          class="sticky top-0"
        ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table> -->
      <div class="flex justify-center py-1 border-t border-gray-300 min-w-full">
        <button
          type="button"
          class="w-fit cursor-pointer self-center bg-green-600 rounded-full shadow-sm shadow-black/40 p-2 inline-flex text-white"
          (click)="addRow()"
        >
          <!-- <mat-icon>add</mat-icon> -->
        </button>
      </div>
    </div>

    <div class="col-span-full grid grid-cols-4">
      <button type="submit" class="btn">Add</button>
    </div>
  </form>
  <div>
    {{ form.getRawValue() | json }}
  </div>
</cust-card>
