<div class="title flex justify-end items-center gap-4 p-4 bg-blue-100 rounded-b-lg shadow">
  <button
    (click)="useLanguage('en')"
    class="px-4 py-1 rounded border border-blue-600 text-blue-600 hover:bg-blue-600 hover:text-white transition-colors duration-200"
    [class.bg-blue-600]="currentLang === 'en'"
    [class.text-white]="currentLang === 'en'"
  >
    EN
  </button>

  <button
    (click)="useLanguage('ar')"
    class="px-4 py-1 rounded border border-blue-600 text-blue-600 hover:bg-blue-600 hover:text-white transition-colors duration-200"
    [class.bg-blue-600]="currentLang === 'ar'"
    [class.text-white]="currentLang === 'ar'"
  >
    AR
  </button>
</div>

<router-outlet />
