<cust-card [titleText]="'transfer.title' | translate" [titlePadding]="false">
  <div class="flex justify-end items-center">
    <button
      type="button"
      class="py-1.5 px-2.5 mb-3 btn"
      routerLink="/add-transfer"
    >
      {{ 'transfer.add' | translate }}
    </button>
  </div>

  <div class="overflow-auto max-w-full max-h-80">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>{{ 'transfer.fromWarehouse' | translate }}</th>
          <th>{{ 'transfer.toWarehouse' | translate }}</th>
          <th>{{ 'transfer.date' | translate }}</th>
          <th>{{ 'transfer.numberItem' | translate }}</th>
          <th>{{ 'transfer.notes' | translate }}</th>
          <th>{{ 'transfer.action' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @if ( transfers().length == 0) {
        <tr>
          <td [attr.colspan]="10">{{ 'transfer.noData' | translate }}</td>
        </tr>
        }
        <tr *ngFor="let row of transfers(); let i = index">
          <td>
            {{ i + 1 }}
          </td>
          <td>{{ row.fromWarehouseName }}</td>
          <td>{{ row.toWarehouseName }}</td>
          <td>{{ row.date | date: 'yyyy-MM-dd' }}</td>
          <td>{{ row.items.length }}</td>
          <td>{{ row.notes }}</td>
          <td class="text-nowrap">
            <button
              type="button"
              [swal]="['transfer.delete' | translate, 'transfer.confirmDelete' | translate]"
              (confirm)="delete(row)"
              title="{{ 'transfer.delete' | translate }}"
              class="text-red-600 hover:text-red-800 cursor-pointer"
            >
              {{ 'transfer.delete' | translate }}
            </button>
            <button
              type="button"
              (click)="update(row)"
              title="edit row"
              class="px-2 text-yellow-600 hover:text-yellow-800 cursor-pointer"
            >
              {{ 'transfer.edit' | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</cust-card>
