<cust-card [titleText]="'journal.titleJournal' | translate"  [titlePadding]="false">
  <div class="flex justify-end items-center">
    <button
      type="button"
      class="py-1.5 px-2.5 mb-3 btn"
      routerLink="/journal/add-journal"
    >
      {{ 'journal.add' | translate }}
    </button>
  </div>

  <div class="overflow-auto max-h-80 relative">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>{{ 'journal.warehouse' | translate }}</th>
          <th>{{ 'journal.total' | translate }}</th>
          <th>{{ 'journal.from' | translate }}</th>
          <th>{{ 'journal.isPosted' | translate }}</th>
          <th>{{ 'journal.date' | translate }}</th>
          <th>{{ 'journal.actions' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="journals().length === 0">
          <td [attr.colspan]="7" class="text-center">{{ 'journal.noData' | translate }}</td>
        </tr>

        <tr *ngFor="let journal of journals(); let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ journal.branchId }}</td>
          <td>{{ journal.totalCredit }}</td>
          <td>
            {{
              journal.kind == "NORMAL"
                ? "journal"
                : journal.kind == "JOURNAL_TYPE"
                ? getInvoiceTypeName(journal.parentType)
                : getJournalTypeName(journal.parentType)
            }}
          </td>
          <td>{{ journal.isPosted }}</td>
          <td>{{ journal.date | date : "yyyy-MM-dd" }}</td>
          <td class="text-nowrap">
            <button
              type="button"
              (click)="deleteItem(journal)"
              [title]="'journal.delete' | translate"
              class="text-red-600 hover:text-red-800 cursor-pointer"
            >
              {{ 'journal.delete' | translate }}
            </button>
            <button
              type="button"
              (click)="updateItem(journal)"
              [title]="'journal.edit' | translate"
              class="px-2 text-yellow-600 hover:text-yellow-800 cursor-pointer"
            >
              {{ 'journal.edit' | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</cust-card>
