<cust-card titleText="Add Warehouse">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="cust-grid">
    <cust-form-field
      [control]="form.controls.code"
      inputId="code"
      label="Code"
    />

    <cust-form-field
      [control]="form.controls.name"
      inputId="name"
      label="Name"
    />

    <!-- <cust-select
      [control]="form.controls.type"
      inputId="type"
      label="type"
      [options]="types"
    /> -->

    <!-- <label class="self-center">
      <input
        type="checkbox"
        [formControl]="this.form.controls.active"
      />
      Is Acitve
    </label> -->

    <div>
      <label for="branchId" class="cust-input-label">Branch </label>
      <ng-select
        id="branchId"
        [items]="branches()"
        bindLabel="name"
        bindValue="id"
        [searchFn]="searchFn"
        [formControl]="form.controls.branchId"
        class="cust-input"
      >
        <ng-template
          ng-option-tmp
          let-item="item"
          let-index="index"
          let-search="searchTerm"
        >
          <div>{{ item.name + "-" + item.code }}</div>
        </ng-template>
      </ng-select>
      <app-validation-message
        [control]="form.controls.branchId"
        [customMessage]="null"
        name="Branch"
      />
    </div>

    <div>
      <label for="primaryAccount" class="cust-input-label"
        >Parent Warehouse
      </label>
      <ng-select
        id="primaryAccount"
        [items]="warehouses()"
        bindLabel="name"
        bindValue="id"
        [searchFn]="searchFn"
        [formControl]="form.controls.parentId"
        class="cust-input"
      >
        <ng-template
          ng-option-tmp
          let-item="item"
          let-index="index"
          let-search="searchTerm"
        >
          <div>{{ item.name + "-" + item.code }}</div>
        </ng-template>
      </ng-select>
      <app-validation-message
        [control]="form.controls.parentId"
        [customMessage]="null"
        name="Parent Warehouse"
      />
    </div>

    <cust-form-field
      [control]="form.controls.phone"
      inputId="phone"
      label="phone"
    />

    <cust-form-field
      [control]="form.controls.address"
      inputId="address"
      label="Address"
    />

    <cust-form-field
      [control]="form.controls.notes"
      inputId="notes"
      label="Notes"
    />

    <div class="col-span-full grid grid-cols-4">
      <button type="submit" class="btn">Add</button>
    </div>
  </form>
</cust-card>
