<!-- update-currency.component.html -->
<div class="bg-white dark:bg-[#1f2937] p-7 m-7 rounded-md">
  <h4 class="text-gray-700 pb-7 text-2xl font-bold dark:text-white">
    {{ 'currency.updateTitle' | translate }}
  </h4>

  <form
    [formGroup]="editCurrencyForm"
    (ngSubmit)="onSubmit()"
    class="grid grid-cols-[repeat(auto-fit,_minmax(min(100%,_300px),_1fr))] gap-4"
  >
    <cust-form-field
      [control]="editCurrencyForm.controls.code"
      inputId="code"
      [label]="'currency.code' | translate"
    />

    <cust-form-field
      [control]="editCurrencyForm.controls.name"
      inputId="name"
      [label]="'currency.name' | translate"
    />

    <cust-form-field
      [control]="editCurrencyForm.controls.balance"
      inputId="balance"
      [label]="'currency.value' | translate"
      type="number"
    />

    <cust-form-field
      [control]="editCurrencyForm.controls.partName"
      inputId="partName"
      [label]="'currency.partName' | translate"
      type="text"
    />

    <cust-form-field
      [control]="editCurrencyForm.controls.partPrecision"
      inputId="partPrecision"
      [label]="'currency.partPrecision' | translate"
      type="number"
    />

    <div class="col-span-full ">
      <button type="submit" class="btn" [disabled]="!editCurrencyForm.valid">
        {{ 'currency.updateButton' | translate }}
      </button>
    </div>
  </form>
</div>
