<div
  class="flex min-h-svh text-black dark:text-white bg-[#f4f5fc] dark:bg-[#1f2937]"
>
  <!-- Sidebar -->
  <app-sidebar />

  <!-- Setting Bar -->
  <app-setting-bar />

  <!-- Main Content -->
  <div class="flex flex-col flex-1 overflow-hidden">
    <!-- header -->
    <header
      class="flex items-center justify-between h-16 px-6 py-4 border-b-4 border-primary"
    >
      <button
        class="focus:outline-none lg:hidden"
        (click)="sidebarComponent.toggleSidebar()"
      >
        <svg
          class="w-6 h-6"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4 6H20M4 12H20M4 18H11"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </button>
      <!-- <input type="color" [value]="primaryColor" class="rounded-full inline w-7 h-7 outline-0" (change)="changePrimaryColor($event)" /> -->
      <!-- <app-toggle-theme /> -->
      <div class="relative mx-4 min-h-5 lg:mx-0"></div>
      <img
        src="assets/icons/settings-gray.png"
        width="20"
        alt="settings"
        (click)="SettingbarComponent.showSetting()"
      />
    </header>
    <router-outlet></router-outlet>
  </div>

</div>
