<cust-card title="Accounts">
  <div class="flex flex-wrap-reverse justify-between items-center">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input />
    </mat-form-field>
    <button
      type="button"
      class="py-1.5 px-2.5 mb-3 btn"
      routerLink="/add-account"
    >
      Add Account
    </button>
  </div>

  <div
    class="w-full overflow-auto rounded-md max-h-96 border border-zinc-200 dark:border-zinc-600"
  >
  <app-custom-table
    [tableFormArray]="tableFormArray"
    [columns]="columns"
    (rowRemoved)="onRowRemoved($event)"
  >
  </app-custom-table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      class="sticky bottom-0"
      aria-label="Select page of groups"
    ></mat-paginator>
  </div>
</cust-card>
