<cust-card titleText="Groups" [titlePadding]="false">
  <div class="flex justify-end items-center">
    <button type="button" class="mb-3 btn" routerLink="/add-group">
      Add Group
    </button>
  </div>
  @if (viewTree()) {
  <app-tree-view
    [treeData]="treeData"
    (onDelete)="deleteGroup($event)"
    (onUpdate)="updateGroup($event)"
  />
  }@else {

  <app-custom-table
    [data]="groups$ | async"
    [columns]="displayedColumns"
    (deleteRowEvent)="deleteGroup($event)"
    (updateRowEvent)="updateGroup($event)"
  />
  }
</cust-card>
