<cust-card [titleText]="'journalTypes.updateTitle' | translate">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="cust-grid">
    <cust-form-field
      [control]="form.controls.name"
      inputId="name"
      [label]="'journalTypes.name' | translate"
    />

    <div>
      <label
        for="defAccount"
        class="cust-input-label"
        [ngClass]="{
          'cust-label-disable': form.controls.defaultAccountId.disabled
        }"
        >{{ 'journalTypes.defaultAccount' | translate }}
      </label>
      <ng-select
        id="defAccount"
        [items]="accounts$ | async"
        bindLabel="name"
        bindValue="id"
        [searchFn]="searchFn"
        [formControl]="formControls.defaultAccountId"
        class="cust-input"
      >
        <ng-template
          ng-option-tmp
          let-item="item"
          let-index="index"
          let-search="searchTerm"
        >
          <div>{{ item.name + "-" + item.code }}</div>
        </ng-template>
      </ng-select>
      <app-validation-message
        [control]="form.controls.defaultAccountId"
        [name]="'journalTypes.defaultAccount' | translate"
      />
    </div>

    <div>
      <label
        for="defCurrency"
        class="cust-input-label"
        [ngClass]="{
          'cust-label-disable': form.controls.defaultCurrencyId.disabled
        }"
        >{{ 'journalTypes.defaultCurrency' | translate }}
      </label>
      <ng-select
        id="defCurrency"
        [items]="currencies$ | async"
        bindLabel="name"
        bindValue="id"
        [searchFn]="searchFn"
        [formControl]="formControls.defaultCurrencyId"
        class="cust-input"
      >
        <ng-template
          ng-option-tmp
          let-item="item"
          let-index="index"
          let-search="searchTerm"
        >
          <div>{{ item.name + "-" + item.code }}</div>
        </ng-template>
      </ng-select>
      <app-validation-message
        [control]="form.controls.defaultCurrencyId"
        [name]="'journalTypes.defaultCurrency' | translate"
      />
    </div>

    <cust-form-field
      [control]="form.controls.creditName"
      inputId="Credit Name"
      [label]="'journalTypes.creditName' | translate"
    />

    <cust-form-field
      [control]="form.controls.debitName"
      inputId="Debit Name"
      [label]="'journalTypes.debitName' | translate"
    />

    <label>
      <input type="checkbox" [formControl]="formControls.fieldCredit" />
      {{ 'journalTypes.fieldCredit' | translate }}
    </label>
    <label>
      <input type="checkbox" [formControl]="formControls.fieldDebit" />
      {{ 'journalTypes.fieldDebit' | translate }}
    </label>
    <label>
      <input type="checkbox" [formControl]="formControls.fieldDate" />
      {{ 'journalTypes.fieldDate' | translate }}
    </label>
    <label>
      <input type="checkbox" [formControl]="formControls.fieldNotes" />
      {{ 'journalTypes.fieldNotes' | translate }}
    </label>
    <label>
      <input type="checkbox" [formControl]="formControls.fieldCurrencyName" />
      {{ 'journalTypes.fieldCurrencyName' | translate }}
    </label>
    <label>
      <input
        type="checkbox"
        [formControl]="formControls.fieldCurrencyEquilty"
      />
      {{ 'journalTypes.fieldCurrencyEquilty' | translate }}
    </label>
    <label>
      <input type="checkbox" [formControl]="formControls.autoPost" />
      {{ 'journalTypes.autoPost' | translate }}
    </label>

    <div class="col-span-full grid grid-cols-4">
      <button type="submit" class="btn" [disabled]="!form.valid">{{ 'journalTypes.updateButton' | translate }}</button>
    </div>
  </form>
  <div>
  </div>
</cust-card>
