<cust-card titleText="Add Transfer">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="cust-grid">
    <cust-select
      [control]="this.form.controls.fromWarehouseId"
      label="From Warehouse"
      inputId="group"
      [options]="this.warehouses()"
    />

    <cust-select
      [control]="this.form.controls.toWarehouseId"
      label="To Warehouse"
      inputId="To Warehouse"
      [options]="this.warehouses()"
    />

    <cust-form-field
      [control]="form.controls.date"
      inputId="Date"
      label="Date"
      type="date"
    />
    <cust-form-field
      [control]="form.controls.cashAccountId"
      inputId="cashAccountId"
      label="Cash Account ID"
      type="number"
    />

    <cust-form-field
      [control]="form.controls.expenseAccountId"
      inputId="expenseAccountId"
      label="Expense Account ID"
      type="number"
    />

    <cust-form-field
      [control]="form.controls.expenseValue"
      inputId="expenseValue"
      label="Expense Value"
      type="number"
      step="0.01"
    />

    <cust-form-field
      [control]="form.controls.driverName"
      inputId="driverName"
      label="Driver Name"
      type="text"
    />

    <cust-form-field
      [control]="form.controls.notes"
      inputId="Notes"
      label="Notes"
    />

    <div class="overflow-auto max-h-80 relative col-span-full add-table">
      <table formArrayName="items">
        <thead>
          <tr>
            <th>#</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Item ID</th>
            <th>Unit Fact</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let row of items.controls; let i = index"
            [formGroup]="row"
          >
            <td>{{ i + 1 }}</td>
            <td>
              <cust-select
                [control]="row.controls['productId']"
                [showLabel]="false"
                label="product"
                inputId="product"
                [options]="this.pricesList()"
              />
            </td>
            <td>
              <input
                formControlName="qty"
                name="qty"
                id="qty"
                type="number"
                class="cust-input"
              />
            </td>
            <td>
              <input
                formControlName="unitItemId"
                type="number"
                class="cust-input"
              />
            </td>
            <td>
              <input
                formControlName="unitFact"
                type="number"
                class="cust-input"
                step="0.01"
              />
            </td>
            <td>
              <button
                class="cursor-pointer"
                title="edit"
                type="button"
                (click)="removeRow(i)"
              >
                <svg
                  class="fill-red-500"
                  height="28"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="m21.0697 5.23c-1.61-.16-3.22-.28-4.84-.37v-.01l-.22-1.3c-.15-.92-.37-2.3-2.71-2.3h-2.62c-2.33003 0-2.55003 1.32-2.71003 2.29l-.21 1.28c-.93.06-1.86.12-2.79.21l-2.04.2c-.42.04-.72.41-.68.82s.4.71.82.67l2.04-.2c5.24003-.52 10.52003-.32 15.82003.21h.08c.38 0 .71-.29.75-.68.03-.41-.27-.78-.69-.82z"
                  />
                  <path
                    d="m19.2297 8.14c-.24-.25-.57-.39-.91-.39h-12.63995c-.34 0-.68.14-.91.39s-.36.59-.34.94l.62 10.26c.11 1.52.25 3.42 3.74 3.42h6.41995c3.49 0 3.6301-1.89 3.74-3.42l.62-10.25c.02-.36-.11-.7-.34-.95zm-5.57 9.61h-3.33c-.40995 0-.74995-.34-.74995-.75s.34-.75.74995-.75h3.33c.41 0 .75.34.75.75s-.34.75-.75.75zm.84-4h-4.99995c-.41 0-.75-.34-.75-.75s.34-.75.75-.75h4.99995c.41 0 .75.34.75.75s-.34.75-.75.75z"
                  />
                </svg>
              </button>
            </td>
          </tr>
          <tr>
            <td [attr.colspan]="6" class="text-center w-full">
              <button
                type="button"
                class="w-fit self-center m-auto cursor-pointer size-8 border dark:bg-white border-black rounded-full shadow-sm shadow-black/40 p-2 flex text-white"
                (click)="addRow()"
              >
                <img src="assets/icons/add.png" alt="add" />
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <app-validation-message
        *ngIf="items.errors"
        [control]="this.items"
        name="products"
        class="col-span-full flex justify-start"
      />
    </div>

    <div class="col-span-full grid grid-cols-4">
      <button type="submit" class="btn">Transfer</button>
    </div>
  </form>
</cust-card>
