<cust-card [titleText]="isUpdate ? ('update_price' | translate) : ('add_price' | translate)">
  <form [formGroup]="priceForm" (ngSubmit)="onSubmit()" class="cust-grid">
    <cust-form-field
      [control]="priceForm.controls.name"
      inputId="name"
      label="{{ 'name' | translate }}"
      [required]="true"
    />

    <div class="col-span-full grid grid-cols-4">
      <button type="submit" class="btn" [disabled]="priceForm.invalid">
        {{ isUpdate ? ('update' | translate) : ('add' | translate) }}
      </button>
    </div>
  </form>
</cust-card>
