<cust-card title="Accounts" [titlePadding]="false">
  <div class="flex flex-wrap-reverse justify-end items-center">
    <!-- <input type="text" class="cust-input" (change)="applyFilter($event)"> -->
    <button
      type="button"
      class="py-1.5 px-2.5 mb-3 btn"
      routerLink="/add-account"
    >
      Add Account
    </button>
  </div>

  <div class="w-full">
    <app-custom-table
      [data]="accounts$ | async"
      [columns]="displayedColumns"
      (editRowEvent)="updateAccount($event)"
      (deleteRowEvent)="deleteAccount($event)"
    />
  </div>
</cust-card>
