<cust-card [titleText]="'add_branch' | translate">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="cust-grid">
    <cust-form-field
      [control]="form.controls.name"
      inputId="name"
      [label]="'name' | translate"
    />

    <cust-form-field
      [control]="form.controls.phone"
      inputId="phone"
      [label]="'phone' | translate"
    />

    <cust-form-field
      [control]="form.controls.address"
      inputId="address"
      [label]="'address' | translate"
    />

    <cust-form-field
      [control]="form.controls.notes"
      inputId="notes"
      [label]="'notes' | translate"
      class="focus:ring-4 focus:ring-primary"
    />

    <div class="col-span-full grid grid-cols-4">
      <button type="submit" class="btn" [disabled]="!form.valid">{{ 'add' | translate }}</button>
    </div>
  </form>
</cust-card>
