<div class="bg-white dark:bg-[#1f2937] p-7 m-7 rounded-md">
  <h4 class="text-gray-700 pb-7 text-2xl font-bold dark:text-white">
    Update Currency
  </h4>

  <form
    [formGroup]="editCurrencyForm"
    (ngSubmit)="onSubmit()"
    class="grid grid-cols-[repeat(auto-fit,_minmax(min(100%,_300px),_1fr))] gap-4"
  >
    <cust-form-field
      [control]="editCurrencyForm.controls.code"
      inputId="code"
      label="Code"
    />

    <cust-form-field
      [control]="editCurrencyForm.controls.name"
      inputId="name"
      label="Name"
    />

    <cust-form-field
      [control]="editCurrencyForm.controls.balance"
      inputId="balance"
      label="Balance"
      type="number"
    />

    <cust-form-field
      [control]="editCurrencyForm.controls.eq"
      inputId="eq"
      label="Eq"
      type="number"
    />

    <div class="col-span-full grid grid-cols-4">
      <button type="submit" class="btn" [disabled]="!editCurrencyForm.valid">
        Add
      </button>
    </div>
  </form>
  <div>
    {{ editCurrencyForm.value | json }}
  </div>
</div>
