<cust-card titleText="Update Advertisement">
  <form [formGroup]="form"  class="cust-grid">
    <cust-form-field label="Title" inputId="title" [control]="form.controls.title" />

    <div class="col-span-full flex gap-4 items-center">
      <label><input type="radio" formControlName="type" value="image"/> Image</label>
      <label><input type="radio" formControlName="type" value="video"/> Video</label>
    </div>

    <cust-form-field
      label="Media"
      inputId="media"
      type="file"
      [control]="form.controls.media"
      (change)="upload($event)"
    />

    <p *ngIf="ad.mediaUrl">
      Current media:
      <ng-container *ngIf="ad.type==='image'">
        <img src="{{ ad.mediaUrl }}" class="w-24 h-16 object-cover rounded"/>
      </ng-container>
      <ng-container *ngIf="ad.type==='video'">
        <video src="{{ ad.mediaUrl }}" class="w-48 h-32" controls></video>
      </ng-container>
    </p>

    <cust-form-field
      label="Duration (sec)"
      inputId="duration"
      type="number"
      [control]="form.controls.duration"
    />

    <button type="submit" class="col-span-full btn">Update Advertisement</button>
  </form>
</cust-card>
