<div
  class="min-h-screen flex items-center justify-center bg-gradient-to-br from-blue-100 to-white p-6"
>
  <div class="w-full max-w-2xl bg-white rounded-2xl shadow-xl p-10 space-y-10">
    <!-- Title -->
    <div class="text-center">
      <h1 class="text-3xl font-extrabold text-blue-900">{{ 'login.title' | translate }}</h1>
      <p class="mt-2 text-sm text-gray-500">
        {{ 'login.subtitle' | translate }}
      </p>
    </div>

    <!-- Form -->
    <form [formGroup]="form" (ngSubmit)="login()">
      <!-- Fields Row -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <cust-form-field
          [label]="'login.username' | translate"
          inputId="Username"
          [control]="form.controls.username"
        ></cust-form-field>

        <cust-form-field
          [label]="'login.password' | translate"
          inputId="password"
          [control]="form.get('password')!"
          type="password"
        ></cust-form-field>
      </div>
      <label class="mt-3 block">
        <input type="checkbox" [formControl]="form.controls.rememberMe" />
        {{ 'login.rememberMe' | translate }}
      </label>

      <!-- Submit Button -->
      <div class="pt-4">
        <button type="submit" class="btn w-full">
          {{ 'login.button' | translate }}
        </button>
      </div>
    </form>

    <!-- Footer -->
    <div class="text-center text-xs text-gray-400 mt-8">
      {{ 'login.footer' | translate }}
    </div>
  </div>
</div>
