<cust-card titleText="Update Branch">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="cust-grid">
    <cust-form-field
      [control]="form.controls.name"
      inputId="name"
      label="Name"
    />

    <cust-form-field
      [control]="form.controls.phone"
      inputId="phone"
      label="Phone"
    />

    <cust-form-field
      [control]="form.controls.address"
      inputId="address"
      label="Address"
    />

    <cust-form-field
      [control]="form.controls.notes"
      inputId="notes"
      label="Notes"
      class="focus:ring-4 focus:ring-primary"
    />

    <div class="col-span-full grid grid-cols-4">
      <button type="submit" class="btn" [disabled]="!form.valid">Update</button>
    </div>
  </form>
</cust-card>
