<cust-card titleText="Update Group">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="cust-grid">
    <cust-form-field
      [control]="form.get('code')!"
      inputId="code"
      label="Code"
    />

    <cust-form-field
      [control]="form.get('name')!"
      inputId="name"
      label="Name"
    />

    <div>
      <label
        for="parentGroup"
        class="cust-input-label"
        [ngClass]="{
          'cust-label-disable': form.controls.parentId
        }"
        >Parent Group
      </label>
      <ng-select
        id="parentGroup"
        [items]="groups$ | async"
        bindLabel="name"
        bindValue="id"
        [searchFn]="searchFn"
        [formControl]="form.controls.parentId"
        class="cust-input"
      >
        <ng-template
          ng-option-tmp
          let-item="item"
          let-index="index"
          let-search="searchTerm"
        >
          <div>{{ item.name + "-" + item.code }}</div>
        </ng-template>
      </ng-select>
      <app-validation-message
        [control]="form.controls.parentId"
        [customMessage]="null"
        name="Parent Group"
      />
    </div>

    <cust-form-field
      [control]="form.get('notes')!"
      inputId="note"
      label="Note"
      class="focus:ring-4 focus:ring-primary"
    />

    <div class="col-span-full grid grid-cols-4">
      <button type="submit" class="btn" [disabled]="!form.valid">Update</button>
    </div>
  </form>
  <div>
    {{ form.value | json }}
  </div>
</cust-card>
