@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #6366f1;

  --animate-button-pop: button-pop 0s ease-out;
  @keyframes button-pop {
    0% {
      transform: scale(0.98);
    }
    40% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
  }
}

@layer components {
  /* validation text */
  .validation-text {
    font-size: var(--text-xs);
    line-height: var(--tw-leading, var(--text-xs--line-height));
    color: var(--color-red-700);
  }
  .dark .validation-text {
    color: var(--color-red-400);
  }

  /* custom input */
  .cust-input {
    display: block;
    height: calc(var(--spacing) * 10);
    width: 100%;
    padding: calc(var(--spacing) * 2.5);
    background-color: var(--color-gray-50);
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: var(--color-gray-300);
    outline-style: var(--tw-outline-style);
    outline-width: 0px;
    color: var(--color-gray-900);
    font-size: var(--text-sm) /* 0.875rem = 14px */;
    line-height: var(--tw-leading, var(--text-sm--line-height));
    border-radius: var(--radius-lg) /* 0.5rem = 8px */;
    cursor: text;
  }

  .cust-input:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .cust-input:focus {
    --tw-ring-shadow: 0 0 0px 1.5px var(--color-primary);
    box-shadow: var(--tw-ring-shadow);
    border-color: var(--color-primary);
    outline: none;
  }

  .dark .cust-input {
    background-color: var(--color-gray-700);
    border-color: var(--color-gray-600);
    color: var(--color-white);
  }

  .dark .cust-input::placeholder {
    color: var(--color-gray-400);
  }

  .invalid-input {
    border-color: var(--color-red-500);
  }

  /* button */
  .btn {
    cursor: pointer;
    padding-block: calc(var(--spacing) * 2) /* 0.5rem = 8px */;
    color: var(--color-white);
    border-radius: var(--radius-md);
    background-color: var(--color-green-700);
    transition: box-shadow ease-in-out 150ms;
  }
  .btn:hover {
    box-shadow: var(--shadow-lg);
  }
  .btn:focus {
    animation: var(--animate-button-pop);
  }

  /* custom label */
  .cust-input-label {
    display: block;
    margin-bottom: calc(var(--spacing) * 0.5);
    font-size: var(--text-sm) /* 0.875rem = 14px */;
    line-height: var(--tw-leading, var(--text-sm--line-height));
    --tw-font-weight: var(--font-weight-medium) /* 500 */;
    font-weight: var(--font-weight-medium) /* 500 */;
    color: var(--color-gray-900);
  }
  .dark .cust-input-label {
    color: var(--color-white);
  }

  .cust-label-disable {
    opacity: 50%;
    font-size: var(--text-sm) /* 0.875rem = 14px */;
    line-height: var(--tw-leading, var(--text-sm--line-height));
  }
}

@layer base {
}
:root {
  --mat-autocomplete-background-color: white;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
