@use "@angular/material" as mat;

:root {
  --mat-table-row-item-outline-color: #0000002d;
  --mat-autocomplete-background-color: white;
  --mat-sys-primary: var(--color-primary);

  @include mat.table-overrides(
    (
      background-color: white,
      header-headline-weight: 600,
    )
  );
  @include mat.paginator-overrides(
    (
      container-background-color: #e8e0eb,
    )
  );
}

html {
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: (
        plain-family: "Poppins",
        brand-family: "Poppins",
      ),
    )
  );
}

.dark .mat-mdc-table {
  background-color: #424242;
  color: white;
}

.mat-mdc-header-row {
  background: #e8e0eb !important;
}
.dark .mat-mdc-header-row {
  color: white;
  background-color: #616161 !important;
}
.mat-mdc-header-cell {
  text-transform: uppercase;
  text-wrap: nowrap;
}

.mat-mdc-row {
  // color: black;
  // background-color: white;
  border-bottom: none;
}
.mat-mdc-cell {
  border: none;
}
.dark .mat-mdc-cell {
  color: white;
}

.dark .mat-mdc-paginator {
  background-color: #616161;
  color: white;
}
.dark .mat-mdc-paginator * {
  color: inherit;
}

.dark .mat-mdc-paginator-icon {
  fill: white;
}
