<div class="bg-white dark:bg-[#1f2937] p-7 m-7">
  <h2 class="text-2xl font-bold text-gray-700 pb-7">Create Account</h2>
  <form
    [formGroup]="accountForm"
    (ngSubmit)="onSubmit()"
    class="grid grid-cols-[repeat(auto-fit,_minmax(min(100%,_300px),_1fr))] gap-4"
  >
    <div>
      <label for="code" class="cust-input-label">Code </label>
      <input id="code" formControlName="code" class="cust-input" />
      <app-validation-message
        [control]="accountForm.controls.code"
        [customMessage]="null"
        name="code"
      />
    </div>

    <div>
      <label for="name" class="cust-input-label">Name </label>
      <input id="name" formControlName="name" class="cust-input" />
      <app-validation-message
        [control]="accountForm.controls.name"
        [customMessage]="null"
        name="name"
      />
    </div>

    <div>
      <label for="ac_type" class="cust-input-label">Account Type</label>
      <select
        id="ac_type"
        [formControl]="accountForm.controls.isPrimary"
        class="cust-input"
      >
        @for(option of accountTypes; track $index){
        <option [value]="option.key">{{ option.value }}</option>
        }
      </select>
    </div>

    <div>
      <label for="pr_ac" class="cust-input-label"> Primary Account </label>

      <div class="relative">
        <input
          id="pr_ac"
          formControlName="primaryAccount"
          type="text"
          class="cust-input"
          [matAutocomplete]="autoAccount"
          matInput
        />
        <mat-autocomplete #autoAccount="matAutocomplete">
          @for (option of results ; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-autocomplete>
      </div>
    </div>

    <div>
      <label for="type" class="cust-input-label">Type</label>
      <select
        id="type"
        [formControl]="accountForm.controls.type"
        class="cust-input"
      >
        @for(option of types; track $index){
        <option [value]="option.key">{{ option.value }}</option>
        }
      </select>
    </div>

    <div>
      <label for="max" class="cust-input-label">Max </label>
      <input id="max" formControlName="max" type="number" class="cust-input" />
      <app-validation-message
        [control]="accountForm.controls.max"
        [customMessage]="null"
        name="max"
      />
    </div>

    <div>
      <label for="max_type" class="cust-input-label">Max Type</label>
      <select
        id="max_type"
        [formControl]="accountForm.controls.maxType"
        class="cust-input"
      >
        @for(option of types; track $index){
        <option [value]="option.key">{{ option.value }}</option>
        }
      </select>
    </div>

    <div>
      <label for="final_account" class="cust-input-label">Final Account</label>
      <select
        id="final_account"
        [formControl]="accountForm.controls.finalAccount"
        class="cust-input"
      >
        @for(option of finalAccounts; track $index){
        <option [value]="option.key">{{ option.value }}</option>
        }
      </select>
    </div>
    <div>
      <label for="currency" class="cust-input-label"> Currency </label>
      <input
        id="currency"
        formControlName="currency"
        type="text"
        class="cust-input"
        [matAutocomplete]="autoCurrency"
      />
      <mat-autocomplete #autoCurrency="matAutocomplete">
        @for (option of results ; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-autocomplete>
    </div>

    <div>
      <label for="note" class="cust-input-label">Note </label>
      <input id="note" formControlName="note" class="cust-input" />
      <app-validation-message
        [control]="accountForm.controls.note"
        [customMessage]="null"
        name="note"
      />
    </div>

    <div class="col-span-full grid grid-cols-subgrid">
      <button
        type="submit"
        class="bg-green-700 rounded-md text-white py-2 cursor-pointer"
      >
        Add
      </button>
    </div>
  </form>
  <div>
    {{ accountForm.value | json }}
  </div>
</div>
