<cust-card title="Add Account">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="cust-grid">
    <cust-form-field
      [control]="form.controls.code"
      inputId="code"
      label="Code"
    />

    <cust-form-field
      [control]="form.controls.name"
      inputId="name"
      label="Name"
    />

    <cust-select
      [control]="form.controls.isPrimary"
      [options]="accountTypes"
      inputId="Account Type"
      label="Account Type"
    />

    <div>
      <label for="pr_ac" class="cust-input-label"> Primary Account </label>

      <div class="relative">
        <input
          id="pr_ac"
          formControlName="primaryAccount"
          type="text"
          class="cust-input"
          [matAutocomplete]="autoAccount"
          matInput
        />
        <mat-autocomplete #autoAccount="matAutocomplete">
          @for (option of results ; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
          }
        </mat-autocomplete>
      </div>
    </div>

    <cust-select
      [control]="form.controls.type"
      [options]="types"
      inputId="type"
      label="type"
    />

    <cust-form-field
      [control]="form.controls.max"
      inputId="type"
      label="Max"
      type="number"
    />

    <cust-select
      [control]="form.controls.maxType"
      [options]="types"
      inputId="type"
      label="type"
    />

    <cust-select
      [control]="form.controls.finalAccount"
      [options]="finalAccounts"
      inputId="Final Account"
      label="Final Account"
    />

<cust-form-field
      [control]="form.controls.currency"
      inputId="currency"
      label="Currency"
      type="number"
    />

    <cust-form-field
      [control]="form.controls.note"
      inputId="Note"
      label="Note"
    />

    <div class="col-span-full grid grid-cols-4">
      <button type="submit" class="btn" [disabled]="!form.valid">Add</button>
    </div>
  </form>
  <div>
    {{ form.value | json }}
  </div>
</cust-card>
