<div
  class="flex min-h-screen text-neutral-900 dark:text-white bg-surface dark:bg-dark-surface"
>
  <!-- Sidebar -->
  <app-sidebar />

  <!-- Setting Bar -->
  <app-setting-bar />

  <!-- Main Content -->
  <div class="flex flex-col flex-1">
    <!-- Header -->
    <header
      class="w-full flex items-center justify-between h-16 px-6 py-4 border-b-2 border-primary bg-white dark:bg-dark-card-surface z-20"
    >
      <button
        class="focus:outline-none lg:hidden text-primary dark:text-white"
        (click)="sidebarComponent.toggleSidebar()"
      >
        <svg
          class="w-6 h-6"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4 6H20M4 12H20M4 18H11"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>

      <!-- Placeholder / Search / Branding -->
      <div
        class="relative mx-4 flex-1 flex items-center justify-center lg:justify-start"
      >
        <h1
          class="text-xl font-semibold text-gray-700 dark:text-white tracking-wide"
        >
          Syrian Trading Company
        </h1>
      </div>

      <!-- Settings + Language Switcher -->
      <div class="flex items-center gap-4">
        <app-language-switcher></app-language-switcher>

        <button
          class="rounded-full p-1 hover:bg-gray-200 dark:hover:bg-gray-700 transition"
          (click)="SettingbarComponent.showSetting()"
        >
          <img
            src="assets/icons/settings-gray.png"
            width="24"
            alt="settings"
            class="dark:invert"
          />
        </button>
      </div>
    </header>

    <!-- Main Routing Content -->
    <div class="flex-1 p-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
